<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>voyage</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abhaya+Libre&amp;display=swap">
    <link rel="stylesheet" href="static/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="static/fonts/ionicons.min.css">
    <link rel="stylesheet" href="static/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="static/css/Dark-NavBar-1.css">
    <link rel="stylesheet" href="static/css/Dark-NavBar-2.css">
    <link rel="stylesheet" href="static/css/Dark-NavBar.css">
    <link rel="stylesheet" href="static/css/Footer-Basic.css">
    <link rel="stylesheet" href="static/css/gradient-navbar-1.css">
    <link rel="stylesheet" href="static/css/gradient-navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.css">
    <link rel="stylesheet" href="static/css/Map-Clean.css">
    <link rel="stylesheet" href="static/css/Navigation-Clean.css">
    <link rel="stylesheet" href="static/css/Simple-Slider.css">
    <link rel="stylesheet" href="static/css/styles.css">
    <script type="text/javascript">
        function preventBack() {
            window.history.forward();
        }

        setTimeout("preventBack()", 0);

        window.onunload = function () { null };
    </script>
</head>

<body>
    <div>
        <nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean-button" style="height:80px;background-color:#37434d;color:#ffffff;">
            <div class="container-fluid"><a class="navbar-brand" href="#"><i class="fa fa-globe"></i>&nbsp;Admin Dashboard</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"></li>
                        <li class="nav-item"></li>
                        <li class="nav-item"></li>
                        <li class="nav-item"></li>
                        <li class="nav-item"><a class="nav-link" style="color:#ffffff;" href="/index"><i class="fa fa-sign-out"></i>Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div style="margin-top: 15%;">
        <div class="container" style="color: var(--bs-purple);">
            <div class="row">
                <div class="col-md-4"><a class="text-decoration-none" href="/agency_approval">
                        <div class="box" style="height: 120%;background: var(--bs-orange);color: #ffffff !important;">
                            <div class="d-flex d-xl-flex justify-content-center align-items-center justify-content-xl-center align-items-xl-center" style="position: relative;top: 20px;border-radius: 50%;width: 100px;height: 100px;margin-left: 69px;border: 7px solid var(--bs-pink) ;"><i class="fa fa-check" style="font-size: 70px;color: var(--bs-pink);"></i></div>
                            <h1 style="text-align: center;font-style: italic;color: var(--bs-pink);margin-top: 25px;font-size: 35px;">Approve &amp; view Staff</h1>
                        </div>
                    </a></div>
                <div class="col-md-4"><a class="text-decoration-none" href="/viewdriver">
                        <div class="box" style="height: 120%;background: #00bce2;color: #ffffff !important;">
                            <div class="d-flex d-xl-flex justify-content-center align-items-center justify-content-xl-center align-items-xl-center" style="position: relative;top: 20px;border-radius: 50%;width: 100px;height: 100px;margin-left: 69px;border: 7px solid var(--bs-pink) ;"><i class="fa fa-check" style="font-size: 70px;color: var(--bs-pink);"></i></div>
                            <h1 style="text-align: center;font-style: italic;color: var(--bs-pink);margin-top: 25px;font-size: 35px;">View Drivers</h1>
                        </div>
                    </a></div>
                <div class="col-md-4"><a class="text-decoration-none" href="/viewuser">
                        <div class="box" style="height: 120%;background: #8cd600;color: #ffffff !important;">
                            <div class="d-flex d-xl-flex justify-content-center align-items-center justify-content-xl-center align-items-xl-center" style="position: relative;top: 20px;border-radius: 50%;width: 100px;height: 100px;margin-left: 69px;border: 7px solid var(--bs-pink) ;"><i class="fa fa-check" style="font-size: 70px;color: var(--bs-pink);"></i></div>
                            <h1 style="text-align: center;font-style: italic;color: var(--bs-pink);margin-top: 25px;font-size: 35px;">View Users</h1>
                        </div>
                    </a></div>
            </div>
            <div class="row" style="margin-top: 15%;">
                <div class="col-md-4"><a class="text-decoration-none" href="/addresort">
                        <div class="box" style="height: 120%;background: #ffcc1e;color: #ffffff !important;">
                            <div class="d-flex d-xl-flex justify-content-center align-items-center justify-content-xl-center align-items-xl-center" style="position: relative;top: 20px;border-radius: 50%;width: 100px;height: 100px;margin-left: 69px;border: 7px solid var(--bs-pink) ;"><i class="fa fa-home" style="font-size: 70px;color: var(--bs-pink);"></i></div>
                            <h1 style="text-align: center;font-style: italic;color: var(--bs-pink);margin-top: 25px;font-size: 35px;"><em>Resorts Or Homestay</em><br></h1>
                        </div>
                    </a></div>
                <div class="col-md-4"><a class="text-decoration-none" href="/feedback">
                        <div class="box" style="height: 120%;background: #24ff00;color: #ffffff !important;">
                            <div class="d-flex d-xl-flex justify-content-center align-items-center justify-content-xl-center align-items-xl-center" style="position: relative;top: 20px;border-radius: 50%;width: 100px;height: 100px;margin-left: 69px;border: 7px solid var(--bs-pink) ;"><i class="fa fa-wechat" style="font-size: 70px;color: var(--bs-pink);"></i></div>
                            <h1 style="text-align: center;font-style: italic;color: var(--bs-pink);margin-top: 25px;font-size: 35px;">Feedback &amp; reply</h1>
                        </div>
                    </a></div>
                <div class="col-md-4"><a class="text-decoration-none" href="/view_resort">
                        <div class="box" style="height: 120%;background: #faff00;color: #ffffff !important;">
                            <div class="d-flex d-xl-flex justify-content-center align-items-center justify-content-xl-center align-items-xl-center" style="position: relative;top: 20px;border-radius: 50%;width: 100px;height: 100px;margin-left: 69px;border: 7px solid var(--bs-pink) ;"><i class="fa fa-book" style="font-size: 70px;color: var(--bs-pink);"></i></div>
                            <h1 style="text-align: center;font-style: italic;color: var(--bs-pink);margin-top: 25px;font-size: 35px;">View Resorts</h1>
                        </div>
                    </a></div>
                <div class="row" style="margin-top: 15%;">
                <div class="col-md-4"><a class="text-decoration-none" href="/viewtravel">
                        <div class="box" style="height: 120%;background: #faff00;color: #ffffff !important;">
                            <div class="d-flex d-xl-flex justify-content-center align-items-center justify-content-xl-center align-items-xl-center" style="position: relative;top: 20px;border-radius: 50%;width: 100px;height: 100px;margin-left: 69px;border: 7px solid var(--bs-pink) ;"><i class="fa fa-check" style="font-size: 70px;color: var(--bs-pink);"></i></div>
                            <h1 style="text-align: center;font-style: italic;color: var(--bs-pink);margin-top: 25px;font-size: 35px;">View Travel Agencies</h1>
                        </div>
                    </a></div>
            </div>
            <div class="row" style="margin-top: 15%;">
                <div class="col-md-4"><a class="text-decoration-none" href="/viewstaff"></a></div>
                <div class="col-md-4"></div>
                <div class="col-md-4"><a class="text-decoration-none" href="#"></a></div>
            </div>
        </div>
    </div>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.js"></script>
    <script src="static/js/Simple-Slider.js"></script>
</body>

</html>