<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>voyage</title>
    <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abhaya+Libre&amp;display=swap">
    <link rel="stylesheet" href="static/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="static/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="static/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="static/assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="static/assets/css/Dark-NavBar-1.css">
    <link rel="stylesheet" href="static/assets/css/Dark-NavBar-2.css">
    <link rel="stylesheet" href="static/assets/css/Dark-NavBar.css">
    <link rel="stylesheet" href="static/assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="static/assets/css/gradient-navbar-1.css">
    <link rel="stylesheet" href="static/assets/css/gradient-navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.css">
    <link rel="stylesheet" href="static/assets/css/Ludens-Users---25-After-Register.css">
    <link rel="stylesheet" href="static/assets/css/Map-Clean.css">
    <link rel="stylesheet" href="static/assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="static/assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="static/assets/css/Simple-Slider.css">
    <link rel="stylesheet" href="static/assets/css/styles.css">
</head>

<body>
<nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top" style="background: rgba(73,80,87,0.3) !important;border-radius: 15px;box-shadow: none !important;">
                    <div class="container-fluid">
                        <ul class="navbar-nav flex-nowrap ms-auto">
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow"><a class="nav-link" style="font-weight: bold;color: var(--bs-body-bg);" href="/tbooking">Go back<i class="fas fa-undo" style="font-size: 20px;padding-left: 5px;"></i></a></li>
                        </ul>
                    </div>
                </nav>
    <section class="register-photo">
        <div class="form-container">
            <div class="image-holder" style="background: url(&quot;static/assets/img/f1.jpg&quot;) right / cover no-repeat;"></div>
            <form method="post" action="/flight" enctype="multipart/form-data">
                {% csrf_token %}
                <h2 class="text-center" style="font-size: 40px;color: rgb(244,71,107);"><strong>Add Flight</strong></h2>
                <div class="mb-3"><input class="form-control" type="text" name="name" placeholder="Flight Name"></div>
                <div class="mb-3"><input class="form-control" type="file" name="img" accept="image/*"></div>
                <div class="mb-3"><input class="form-control" type="text" name="departure" placeholder="Departure Time"></div>
                <div class="mb-3"><input class="form-control" type="text" name="arrival" placeholder="Arrival Time"></div>
                <div class="mb-3"><input class="form-control" type="text" name="destination" placeholder="Destination"></div>
                <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit">Submit</button></div>
            </form>
            {% if uploaded_file_url %}
                <p>File Uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a> </p>
            {% endif %}
        </div>
    </section>
    <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.js"></script>
    <script src="https://geodata.solutions/includes/countrystate.js"></script>
    <script src="static/assets/js/Simple-Slider.js"></script>
</body>

</html>