<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>voyage</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abhaya+Libre&amp;display=swap">
    <link rel="stylesheet" href="static/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="static/fonts/ionicons.min.css">
    <link rel="stylesheet" href="static/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="static/css/Dark-NavBar-1.css">
    <link rel="stylesheet" href="static/css/Dark-NavBar-2.css">
    <link rel="stylesheet" href="static/css/Dark-NavBar.css">
    <link rel="stylesheet" href="static/css/Footer-Basic.css">
    <link rel="stylesheet" href="static/css/gradient-navbar-1.css">
    <link rel="stylesheet" href="static/css/gradient-navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.css">
    <link rel="stylesheet" href="static/css/Map-Clean.css">
    <link rel="stylesheet" href="static/css/Navigation-Clean.css">
    <link rel="stylesheet" href="static/css/Simple-Slider.css">
    <link rel="stylesheet" href="static/css/styles.css">
</head>

<body>
    <div class="container">
          <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top" style="background: rgba(73,80,87,0.3) !important;border-radius: 15px;box-shadow: none !important;">
                    <div class="container-fluid">
                        <ul class="navbar-nav flex-nowrap ms-auto">
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow"><a class="nav-link" style="font-weight: bold;color: var(--bs-body-bg);" href="/driver">Go back<i class="fas fa-undo" style="font-size: 20px;padding-left: 5px;"></i></a></li>
                        </ul>
                    </div>
                </nav>
        <div class="row">
            <div class="col-md-6">
                <form method="post" action="/tinsurance">
                    {% csrf_token %}
                    <div style="margin-top: 175px;padding: 30px;background: var(--bs-gray-100);box-shadow: 2px 2px 10px rgba(33,37,41,0.37);border-radius: 20px;">
                        <div style="margin-top: 15px;margin-bottom: 15px;">
                            <h1 style="position: relative;left: 10px;font-size: 24px;">Travelling to</h1><input class="form-control" type="text" name="travel" style="border-radius: 20px;">
                        </div>
                        <div style="margin-top: 15px;margin-bottom: 15px;">
                            <h1 style="position: relative;left: 10px;font-size: 24px;">Trip start date</h1><input class="form-control" type="date" name="startdate" style="border-radius: 20px;">
                        </div>
                        <div style="margin-top: 15px;margin-bottom: 15px;">
                            <h1 style="position: relative;left: 10px;font-size: 24px;">Trip end date<br></h1><input class="form-control" type="date"  name="enddate" style="border-radius: 20px;">
                        </div>
                        <div class="mb-3"><button class="btn btn-primary" type="submit">register</button></div>
                    </div>

                </form>
            </div>
            <div class="col-md-6"><img src="static/img/travel.svg"></div>
        </div>
    </div>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.js"></script>
    <script src="static/js/Simple-Slider.js"></script>
</body>

</html>