<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>payment (1)</title>
    <link rel="stylesheet" href="static/assets2/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/assets2/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="static/assets2/css/Bootstrap-Payment-Form.css">
    <link rel="stylesheet" href="static/assets2/css/styles.css">
</head>

<body>
    <div style="height: 50px;text-align: center;background: linear-gradient(-73deg, var(--bs-pink), var(--bs-purple));">
        <h1 style="background: linear-gradient(-73deg, var(--bs-pink), var(--bs-purple));color: var(--bs-gray-100);margin-top: 75px;">Payment Successful</h1>
    </div>
    <div class="container" style="margin-top: 30px;">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <h4>Name</h4>
                            <h6 class="text-muted mb-2">Departure</h6>
                            <h6 class="text-muted mb-2">to</h6>
                            <h6 class="text-muted mb-2">Destination</h6>
                            <h6 class="text-muted mb-2">Departure time&nbsp;</h6>
                            <h6 class="text-muted mb-2">Arrival time</h6>
                        </div><a class="card-link text-decoration-none" href="#" onclick="window.print();">
                            <div class="d-flex d-md-flex justify-content-center align-items-center justify-content-md-center align-items-md-center" style="width: 30px;height: 30px;border-radius: 50%;border: 2px solid var(--bs-gray-500);position: relative;top: -180px;left: 90%;"><i class="fa fa-download" style="color: var(--bs-gray-600);"></i></div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
    <script src="static/assets2/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>