<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>voyage</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abhaya+Libre&amp;display=swap">
    <link rel="stylesheet" href="static/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="static/fonts/ionicons.min.css">
    <link rel="stylesheet" href="static/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="static/css/Dark-NavBar-1.css">
    <link rel="stylesheet" href="static/css/Dark-NavBar-2.css">
    <link rel="stylesheet" href="static/css/Dark-NavBar.css">
    <link rel="stylesheet" href="static/css/Footer-Basic.css">
    <link rel="stylesheet" href="static/css/gradient-navbar-1.css">
    <link rel="stylesheet" href="static/css/gradient-navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.css">
    <link rel="stylesheet" href="static/css/Map-Clean.css">
    <link rel="stylesheet" href="static/css/Navigation-Clean.css">
    <link rel="stylesheet" href="static/css/Simple-Slider.css">
    <link rel="stylesheet" href="static/css/styles.css">
</head>

<body>
<nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top" style="background: rgba(73,80,87,0.3) !important;border-radius: 15px;box-shadow: none !important;">
                    <div class="container-fluid">
                        <ul class="navbar-nav flex-nowrap ms-auto">
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow"><a class="nav-link" style="font-weight: bold;color: var(--bs-body-bg);" href="/userlogin">Go back<i class="fas fa-undo" style="font-size: 20px;padding-left: 5px;"></i></a></li>
                        </ul>
                    </div>
                </nav>
<h1><center>Booked Train</center></h1>
<h3><center>Train Booked Successfully</center></h3>
    <div style="margin: 90px;">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Sl No.</th>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Departure</th>
                        <th>Arrival</th>
                        <th>Destination</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for id,name,image,departure,arrival,destination in records %}
                                                <form action="" method="post">
                        {% csrf_token %}
                           <td>{{ id }}</td>
<td><img src="{{ image }}" height="100" width="100"> </td>
                        <td>{{ name }}</td>

                        <td>{{ departure }}</td>
                        <td>{{ arrival }}</td>
                        <td>{{ destination }}</td>
                                                </form>
                    </tr>

                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.js"></script>
    <script src="static/js/Simple-Slider.js"></script>
</body>

</html>