<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>form</title>
    <link rel="stylesheet" href="static/assets6/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="static/assets6/css/Responsive-Form-1.css">
    <link rel="stylesheet" href="static/assets6/css/Responsive-Form.css">
    <link rel="stylesheet" href="static/assets6/css/styles.css">
    <link rel="stylesheet" href="static/assets6/css/untitled.css">
</head>

<body>
<nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean-button" style="height:80px;background-color:#37434d;color:#ffffff;">
            <div class="container-fluid"><a class="navbar-brand" href="#"><i class="fa fa-globe"></i>&nbsp;</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"></li>
                        <li class="nav-item"></li>
                        <li class="nav-item"></li>
                        <li class="nav-item"></li>
                        <li class="nav-item"><a class="nav-link" style="color:#ffffff;" href="/staff"><i class="fa fa-sign-out"></i>Go Back</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    <div style="margin-top: 5%;background: #ffadad;border-top: 9.4px solid #ff6767;border-radius: 20px;margin-right: 4%;margin-left: 4%;">
        <div class="table-responsive" style="margin: 10px;">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Place</th>
                        <th>Arrival Time</th>
                        <th>Departure Time</th>
                        <th>Destination</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Qatar Air Bus</td>
                        <td>Qatar</td>
                        <td>10 am</td>
                        <td>12pm</td>
                        <td>Trivandrum</td>
                    </tr>
                <tr>
                        <td>Emirates Air Bus</td>
                        <td>Dubai</td>
                        <td>11 pm</td>
                        <td>2pm</td>
                        <td>Kochin</td>
                    </tr>
                <tr>
                        <td>Indigo</td>
                        <td>Trivandrum</td>
                        <td>4 am</td>
                        <td>12am</td>
                        <td>Dubai</td>
                    </tr>
                <tr>
                        <td>Spice Air Bus</td>
                        <td>Srilanka</td>
                        <td>10 am</td>
                        <td>11pm</td>
                        <td>Southi Arabia</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script src="static/assets6/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/assets6/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
</body>

</html>