<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>form</title>
    <link rel="stylesheet" href="static/assets6/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="static/assets6/css/Responsive-Form-1.css">
    <link rel="stylesheet" href="static/assets6/css/Responsive-Form.css">
    <link rel="stylesheet" href="static/assets6/css/styles.css">
    <link rel="stylesheet" href="static/assets6/css/untitled.css">
</head>

<body style="background: rgb(143,255,0);">
 <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top" style="background: rgba(73,80,87,0.3) !important;border-radius: 15px;box-shadow: none !important;">
                    <div class="container-fluid">
                        <ul class="navbar-nav flex-nowrap ms-auto">
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow"><a class="nav-link" style="font-weight: bold;color: var(--bs-body-bg);" href="/travel">Go back<i class="fas fa-undo" style="font-size: 20px;padding-left: 5px;"></i></a></li>
                        </ul>
                    </div>
                </nav>
    <div data-aos="fade" class="rotating-border rotating-border--black-white rotating-border--reverse" style="padding: 50px;background: rgb(143,255,0);margin-top: 5%;border-width: 6px;border-style: dotted;margin-right: 5%;margin-left: 5%;">
        <h1 style="text-align: center;">Booked Package</h1>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name<br></th>
                        <th>Package id</th>
                        <th>Package Name</th>
                        <th>Total Cost</th>
                        <th>Number of person(s)</th>
                        <th>Booking Date</th>
                        <th>Date of journey</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for username, packageId, name, cost, noperson, date, djourney in records %}
                        <td>{{username}}</td>
                        <td>{{packageId}}</td>
                        <td>{{name}}</td>
                        <td>{{cost}}</td>
                        <td>{{noperson}}</td>
                        <td>{{date}}</td>
                        <td>{{djourney}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script src="static/assets6/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/assets6/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
</body>

</html>